main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    background-color: bisque;
}

.calculator{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-top: 50px;
    width: 350px;
    background-color: lightgrey;
    border: solid black;
    border-radius: 5%;
}

.display{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 300px;
    height: 100px;
    background-color: whitesmoke;
    border: solid black;
    border-radius: 10px;
}

.old-display, .current-display{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

.old-display{
    flex:1;
}

.current-display{
    flex:2;
    font-size: 35px;
}

.buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 10px;
    gap: 15px;
}

.number-button-rows{
    display: flex;
    gap: 15px;
}

.option-button-row{
    display: flex;
    gap: 30px;
}

.option-button, .number-button, .operator-button, .equal-button{
    border: 2px solid black;
    border-radius: 10px;
}

.option-button{
    font-size: 30px;
    padding: 15px;
}

#button-clear{
    background-color: rgb(150, 255, 150);
}

#button-clear:hover{
    background-color: rgb(140, 238, 140);
}

#button-clear:active{
    background-color: rgb(123, 207, 123);
}

#button-delete{
    background-color: rgb(255, 151, 151);
}

#button-delete:hover{
    background-color: rgb(238, 140, 140);
}

#button-delete:active{
    background-color: rgb(211, 124, 124);
}

.number-button, .operator-button, .equal-button{
    font-size: x-large;
    width: 70px;
    height: 70px;
    background-color: rgb(89, 203, 255);
}

.number-button:hover, .operator-button:hover, .equal-button:hover{
    background-color: rgb(80, 191, 243);
}

.number-button:active, .operator-button:active, .equal-button:active{
    background-color: rgb(76, 186, 236);
}